* {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Roboto', sans-serif;
  }
  
  button {
	padding: 5px;
  }
  
  button:hover {
	cursor: pointer;
  }
  
  .hidden {
	display: none;
  }
  
  .container {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
  }

  .bm-list{
    padding:0;
  }

  .create-bm-modal {
    display: none;
    border: 2px solid black;
    padding: 5px;
  }

  .create-bm-modal-header {
    justify-content: space-between;
  }

  .create-bm-modal > header > h3{
    color: black;
    margin: 0;
    text-align: left;
    right: 13rem;
    padding:5px;
  }

  li {
  list-style: none;
  margin-bottom: 1rem;
  }

  .empty__message {
	  font-size: 12px;
  }

  .bookmark-list-item {
	  border: 2px solid black;
	  border-radius: 2px;
	  background: darkgray;
  }

  .ctrl-btn {
    display: inline-block;
  }

  .ctrl-search {
    display: inline-block;
  }

  .li-controls {
    display: block; 
    position: relative;
    right: 0;
    justify-content: space-between;
  }

  .li-ctrl-btn {
    margin: 0;
    padding: .25em;
  }

  .bookmark {
    display: block;
  }

  .bm-desc {
    display: inline-block;
    width:80%;
    padding: 0.5rem;
    margin: 1rem;
    resize: none;
  }

  .close-btn {
    float: right;
  }

  .top, .middle, .bottom {
    display: flex;
    padding: 0.5rem;
  }

  .top > input {
    display: inline-block;
  }

  input[name='bm-url'] {
    margin: 0 0 0 1rem;
  }

  .edit-rd-grp {
    display: inline-block;
  }
  .edit-rd-grp > label {
    display: inline-block;
  }

  .error-button {
    background-color:lightcoral;
    padding: 20px;
    border: 1px solid red;
    position: fixed;
    right: 2.5rem;
    top: 3rem;
  }


